name: CI/CD Workflow
on:
  workflow_dispatch:
    inputs:
      steps:
        description: "Choose which steps to run"
        required: true
        type: choice
        options:
          - integration
          - all
        default: all

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: mlops
  S3_BUCKET: mlops-lab11-nicolas

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    if: ${{ inputs.steps == 'all' || inputs.steps == 'integration' }}
    defaults:
      run:
        working-directory: ./lab11
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --group integration

      - name: Set up and run ruff
        uses: astral-sh/ruff-action@v3
        with:
          src: "./lab11"
          args: check --fix

      - name: Format with ruff
        run: uv run ruff format

      - name: Download model from S3
        run: |
          aws s3 sync s3://${{ env.S3_BUCKET }}/model/ ./model/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

      - name: Run pytest
        run: uv run pytest tests -v

deployment:
  env:
    ECR_REPOSITORY: sentiment-app-onnx

  name: deploy_to_aws
  runs-on: ubuntu-latest
  needs: integration
  if: ${{ inputs.steps == 'all' && needs.integration.result == 'success' }}
  defaults:
    run:
      working-directory: ./lab11
  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    - name: Set up uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --group inference

    - name: Download model from S3
      run: aws s3 sync s3://${{ env.S3_BUCKET }}/model/ ./model/

    - name: Export classifier to ONNX
      run: uv run src/scripts/export_classifier_to_onnx.py

    - name: Export embedding model to ONNX
      run: uv run src/scripts/export_sentence_transformer_to_onnx.py

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      with:
        mask-password: "true"

    - name: Check disk space before build
      run: df -h

    - name: Free up disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        docker system prune -af
        df -h

    - name: Build and Push Docker image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ env.ECR_REPOSITORY }}
        IMAGE_TAG: ${{ github.sha }}
        DOCKER_BUILDKIT: 1
        BUILDKIT_PROGRESS: plain
      run: |
        docker build --progress=plain -t $REPOSITORY:$IMAGE_TAG .
        docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG
        docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

    - name: Delete stack if in rollback state
      run: |
        STATUS=$(aws cloudformation describe-stacks \
          --stack-name sentiment-app-stack \
          --region ${{ env.AWS_REGION }} \
          --query 'Stacks[0].StackStatus' \
          --output text 2>/dev/null || echo "NOT_FOUND")

        echo "Current stack status: $STATUS"

        case "$STATUS" in
          *ROLLBACK* )
            aws cloudformation delete-stack --stack-name sentiment-app-stack --region ${{ env.AWS_REGION }}
            aws cloudformation wait stack-delete-complete --stack-name sentiment-app-stack --region ${{ env.AWS_REGION }}
            ;;
        esac

    - name: Resolve Lambda role ARN from name
      id: lambda_role
      run: |
        ROLE_NAME="LabRole"
        ROLE_ARN=$(aws iam get-role --role-name "$ROLE_NAME" --query 'Role.Arn' --output text)
        echo "Resolved role ARN: $ROLE_ARN"
        echo "role_arn=$ROLE_ARN" >> $GITHUB_OUTPUT

    - name: Deploy with AWS SAM
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ env.ECR_REPOSITORY }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        sam deploy \
          --template-file sam-template.yaml \
          --stack-name sentiment-app-stack \
          --image-repository $REGISTRY/$REPOSITORY \
          --parameter-overrides \
            ImageUri=$REGISTRY/$REPOSITORY:$IMAGE_TAG \
            LambdaExecutionRoleArn=${{ steps.lambda_role.outputs.role_arn }} \
          --capabilities CAPABILITY_IAM \
          --no-confirm-changeset \
          --no-fail-on-empty-changeset \
          --region ${{ env.AWS_REGION }}
